

.newslide-container {
  width: 100%;
  height: var(--dl-size-size-small);
  padding-bottom: 0.5%;
  padding-top: 0.5%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  border-bottom: 2px solid red;
  
}

.newslide1 {
  /* height: var(--dl-size-size-small); */
  position: relative;
  padding-top: 0.5%;
  padding-left: 30px;
  padding-right: 10px;
  
  display: flex;
  justify-content: flex-start;

}

.newslide-button {
  color: var(--dl-color-scheme-white);
  display: flex;
  align-self: center;
  padding-top: 6px;
  border-color: #99cec2;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  padding-bottom: 6px;
  justify-content: flex-start;
  background-color: #99cec2;
}


.button-88 {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-family: system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 15px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: rgb(255, 255, 255);
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  letter-spacing: 0.05em;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
        