.bigpaper-container2 {
  width: 100%;
  height: 100%;
  /* display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column; */
}
.bigpaper-container1 {
  /* flex: 0 0 auto; */
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: flex-start; */
  /* flex-direction: column; */
  background-color: #9d9d9d;
  padding: 1% 3% 8.7% 3%;
}

.bigpaper-container {
  height: 100%;
  padding: 0% 5% 0% 5%;
  background-color: #ffffff;
 
  border-left: 2px solid #9d9d9d;
}



